.home{
    width: 100%;
    height: 80vh;
    background-image: url(../../../../src/assets/images/banner/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 94px;
  }
  
  .banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eaeaea;
  }

  .titleG{
    font-family: 'Old Standard TT', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
  }
  
  .txtColor{
    color: var(--marrom-medio);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Old Standard TT', serif;
  }

  /* all */

  @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html, body, #root{
  height: 100%;
}

:root{
  --verde-escuro: #526D6D;
  --verde-claro: #69BBBA;
  --marrom-claro: #BBAAA1;
  --marrom-medio: #BB937C;
  --marrom-escuro: #6E5D54;
}

.titleG{
  font-family: 'Old Standard TT', serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}

.txtColor{
  color: var(--marrom-medio);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Old Standard TT', serif;
}