.body {
    width: 100%;
    height: 100vh;
    background-color: #526D6D;
  }

.container{
    width: 100%;
    height: 80%;
    background-color: #526D6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-profile{
    width: 80%;
    height: 70vh;
    background-color: rgba(110, 93, 84, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-profile .frase{
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}

.container-card{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width: 46%;
    height: 80%;
    background-color: #BBAAA1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card-details{
    width: 46%;
    height: 80%;
    background-color: #BBAAA1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-details p{
    color: black;
    padding: 3px;
}

.card a{
    width: 90%;
    height: 30%;
    background-color: #526D6D;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    flex-direction: column;
    text-decoration: none;
    padding: 0 0 0 15px;
}

.card a:hover{
    background-color: rgba(110, 93, 84, 0.7);
}

.card a p{
    color: antiquewhite;
    font-size: 12px;
}

.card a b{
    color: antiquewhite;
    font-size: 12px;
}

.photo{
    width: 80px;
    height:80px;
    background-color: gainsboro;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;

}

.photo img{
    width: 90%;
    border-radius: 50%;
}

.details{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid gainsboro;
    padding-left: 15px;
}

.btnEditar{
    background-color: #526D6D;
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    color: white;
    margin-top: 10px;
}

.btnEditar:hover{
    background-color: rgba(110, 93, 84, 0.7);
}

/* all */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html, body, #root{
  height: 100%;
}