.service{
    width: 100%;
    border-bottom: 1px solid #787878;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0 30px 0;
  }
  
  
  .containerService{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 30px 0;
  }
  
  
  .serviceBox{
    width: 300px;
    height: 150px;
    background-color: var(--verde-escuro);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: justify;
    font-size: 14px;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
  }
  
  
  .serviceBox img{
    width: 50px;
    margin-bottom: 10px;
  }
  
  .serviceBtn{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .serviceBtn button{
    width: 150px;
    height: 40px;
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 3px;
    flex-wrap: wrap;
    cursor: pointer;
    color: white;
    margin: 10px;
  }
  
  .serviceBtn button:hover{
    color: black;
    background-color: var(--marrom-medio);
  }


  /* all */

  @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html, body, #root{
  height: 100%;
}

:root{
  --verde-escuro: #526D6D;
  --verde-claro: #69BBBA;
  --marrom-claro: #BBAAA1;
  --marrom-medio: #BB937C;
  --marrom-escuro: #6E5D54;
}

.titleG{
  font-family: 'Old Standard TT', serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 30px;
}

.txtColor{
  color: var(--marrom-medio);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Old Standard TT', serif;
}