.containerImagemListaEstabelecimento{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerImagemListaEstabelecimento img{
    height: 100%;
    max-width: 100%;
}

.containerDetalheEstabelecimento{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

.containerSituacaoEstabelecimento{
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    padding: 10px;
}

.containerSituacaoEstabelecimento button{
    margin: 0;
}

.containerTags{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: purple;
}

.conainerLista{
    background-color: yellow;
}

.fontOld{
    font-family: "Old Standard TT", serif;
    font-size: 18px;
}

@media screen and (max-width: 970px) {
    .boxLista{
        flex-direction: column;
    }
    .containerImagemListaEstabelecimento,
    .containerSituacaoEstabelecimento,
    .containerDetalheEstabelecimento{
        width: 100%;
    }
    .containerSituacaoEstabelecimento{
       text-align: left;
       height: 180px;
       align-items: center;
    }
    .containerImagemListaEstabelecimento{
        height: 150px;
    }
  }

  @media screen and (max-width: 350px) {
    .containerImagemListaEstabelecimento{
        height: 100px;
    }
    .containerSituacaoEstabelecimento{
        height: 150px;
    }
  }