* {
   margin: 0;
   padding: 0;
   }
.banner{
  width: 60%;
  height: 100vh;
  background-color: blue;
  align-items: center;
  justify-content: center;
}
.cadastrese{
  width: 40%;
  height: 100vh;
  background-color: brown;
  position: absolute;
  margin-left: 60%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.inputs{
  justify-content: center;
  position: relative;
  bottom: 10px;
  width: 80%;
  height:80%;
  background-color: aquamarine;

}