.containerCarrossel{
    width: 100%;
    height: auto;
    padding: 10px 5px;
    background-color: #BBAAA1;
    border-radius: 5px;
}

.containerDetalhes{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.informacoesEstabelecimento{
    width: 48%;
    min-height: 62vh;
    height: auto;
    background-color: #BBAAA1;
    padding: 20px;
    border-radius: 5px;
}

.acoesAvaliacao{
    width: 48%;
    height: auto;
    background-color: #BBAAA1;
    padding: 20px;
    border-radius: 5px;
}

.botoesReserva{
    width: 100%;
    height: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botoesReserva button{
    width: 100%;
    height: 65px;
    background-color: #526D6D;
    margin: 5px;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition:  0.1s ease-in-out;

}

.containerAvaliacoes{
    width: 100%;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}

.avaliacoes{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    text-align: left;
    margin: 5px 0;
    flex-direction: column;
    border-bottom: 1px solid #eaeaea;
}

.avaliacoes p{
    text-align: justify;
}

.mapaEstabelecimento{
    width: 100%;
    height: 30px;
    background-color: sandybrown;
    border-radius: 5px;
    margin: 15px 0;
}

.imagemNome{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.imagem{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px 10px;
}

.txtImagemNome{
    text-align: left;
}

.detalhesEstabelecimento{
    text-align: left;
    padding: 15px;
}

.enderecoEstabelecimento{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 15px;
}

.enderecoEstabelecimento .btnSistema{
    margin: 0 auto;
}

.nameEtapa{
    width: 100%;
    padding-top: 20px;
}

@media screen and (max-width: 970px) {
    .containerDetalhes{
        flex-direction: column;
    }
    .informacoesEstabelecimento{
        width: 80%;
    }
  }

  @media screen and (max-width: 540px) {
    .imagem{
        width: 50px;
        height: 50px;
    }
    .imagemNome{
        flex-direction: column;
    }
    .txtImagemNome{
        text-align: center;
    }
  }